<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Your CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css">
    <title><%= data.title %></title>
</head>
<body>
<div class="page-ctn">
    <header class="header">
        <div class="header-ctn">
            <div class="logo">
                <a href="/home">
                    <img src="/static/img/logo/takeabyte_logo_transparent.png" alt="TakeAByte logo" class="logo-img" />
                </a>
            </div>
            <form action="/search" method="get" class="search-bar">
                <button type="submit" class="search-logo">
                    <img src="/static/img/icon/search.png" alt="search logo" />
                </button>
                <label class="abs hidden" for="search"></label>
                <input type="text" name="search" id="search" placeholder="Search..." />
            </form>
            <nav class="header-nav">
                <div class="header-link drop-down-ctn relative">
                    <a href="/discovery">Discovery</a>
                    <div class="discovery-expandable relative">
                        <a href="/discovery" class="abs full"></a>
                        <img src="/static/img/icon/simple-arrow.png" alt="arrow-expand icon" class="expand-icon" />
                    </div>

                    <%###############################################################%>
                    <%#              check if data.categories exists                 %>
                    <%###############################################################%>
                    <% if (!!data.categories) { %>
                        <div class="category-drop-menu abs">
                            <% data.categories.forEach(category => { %>
                                <div class="category-link-ctn relative">
                                    <span class="text"><%= category.name %></span>
                                    <a href="/category/<%= category.id %>" class="category-link abs"></a>
                                </div>
                            <% }); %>
                        </div>
                    <% } %>

                </div>
                <div class="header-link">
                    <a href="/offers">Offers</a>
                </div>
                <div class="header-link">
                    <a href="/contact-us">Contact us</a>
                </div>
            </nav>
            <div class="header-btns">
                <% if (data.isAuthenticated) { %>
                    <div class="account-btn relative">
                        <a href="/user" class="account-link abs full"></a>
                        <svg class="user-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.0095 2.8511C14.2552 2.8511 16.0757 4.67159 16.0757 6.91728C16.0757 9.16297 14.2552 10.9835 12.0095 10.9835C9.76385 10.9835 7.94336 9.16297 7.94336 6.91728C7.94336 4.67159 9.76385 2.8511 12.0095 2.8511Z" />
                            <path d="M5.93745 17.5707L5.5386 18.9382C5.2162 20.0436 6.04522 21.1489 7.19665 21.1489H16.8226C17.974 21.1489 18.803 20.0436 18.4806 18.9382L18.0818 17.5707C17.2946 14.872 14.8208 13.0166 12.0096 13.0166C9.19842 13.0166 6.72458 14.872 5.93745 17.5707Z" />
                        </svg>
                    </div>
                    <div class="logout-btn relative">
                        <a href="/api/logoutUser" class="logout-link abs full"></a>
                        <svg class="logout-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="line" fill-rule="evenodd" clip-rule="evenodd" d="M3.67937 12C3.67937 7.41291 7.39792 3.69435 11.985 3.69435C13.3309 3.69435 14.5997 4.01384 15.722 4.58034C16.5399 4.99318 17.2807 5.53762 17.9164 6.18608C18.2451 6.52131 18.7832 6.52666 19.1185 6.19803C19.4537 5.8694 19.459 5.33123 19.1304 4.996C18.3657 4.21594 17.4739 3.56033 16.488 3.06271C15.1336 2.37904 13.603 1.99435 11.985 1.99435C6.45904 1.99435 1.97937 6.47402 1.97937 12C1.97937 17.5259 6.45904 22.0056 11.985 22.0056C13.603 22.0056 15.1336 21.6209 16.488 20.9372C17.3327 20.5109 18.1083 19.9686 18.794 19.3314C19.138 19.0119 19.1577 18.4741 18.8382 18.1302C18.5186 17.7862 17.9808 17.7665 17.6369 18.086C17.0669 18.6156 16.4227 19.0659 15.722 19.4196C14.5997 19.9861 13.3309 20.3056 11.985 20.3056C7.39792 20.3056 3.67937 16.587 3.67937 12ZM17.6555 14.1456L18.9512 12.85H13.6788C13.2093 12.85 12.8288 12.4694 12.8288 12C12.8288 11.5305 13.2093 11.15 13.6788 11.15H18.9512L17.6555 9.8543C17.3236 9.52236 17.3236 8.98417 17.6555 8.65222C17.9875 8.32028 18.5257 8.32028 18.8576 8.65222L21.2806 11.0752C21.7913 11.5859 21.7913 12.414 21.2806 12.9247L18.8576 15.3477C18.5257 15.6796 17.9875 15.6796 17.6555 15.3477C17.3236 15.0157 17.3236 14.4775 17.6555 14.1456Z" />
                        </svg>
                    </div>
                <% } else { %>
                    <div class="login-btn relative">
                        <a href="/login" class="login-link abs full"></a>
                        <svg class="login-icon" viewBox="0 0 128 128" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g class="st0" id="Layer_1"/><g id="Layer_2">
                            <path class="st2" d="M90.8,112H28.9c-1.9,0-3.4-1.5-3.4-3.4v-49c0-1.9,1.5-3.4,3.4-3.4h70.1c1.9,0,3.4,1.5,3.4,3.4V112"/>
                            <path class="st2" d="M89.6,56.1V41.6C89.6,27.5,78.2,16,64,16h0c-14.2,0-25.6,11.5-25.6,25.6v14.5"/><circle class="st2" cx="63" cy="85.3" r="9.5"/></g>
                        </svg>
                    </div>
                <% } %>
                <div class="cart-btn">
                    <a href="/cart">
                    <svg class="cart-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="line" d="M2.83179 4.38657H3.34341C4.20256 4.38657 4.96125 4.94691 5.21392 5.76808L8.27786 15.7259C8.53053 16.547 9.28921 17.1074 10.1484 17.1074H17.1114C17.9373 17.1074 18.6743 16.5889 18.9534 15.8116L20.9925 10.1312C21.679 8.21867 20.2616 6.20383 18.2295 6.20383H10.66" stroke-linecap="round"/>
                        <circle class="wheel" cx="10.1707" cy="20.5322" r="1.46779"/>
                        <circle class="wheel" cx="17.0204" cy="20.5322" r="1.46779"/>
                    </svg>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="template-page">
        <%######################################################################################%>
        <%#       Page Template                                                                 %>
        <%######################################################################################%>
        <%- include(`pages/${data.template}`, {data: data.templateData}); %>


    </div>

    <footer class="footer">
        <div class="footer-line"></div>
        <div class="footer-ctn">
            <div class="footer-left">
                <div class="top">
                    <div class="footer-logo"><img src="/static/img/logo/takeabyte_logo_inverted_transparent.png" alt="TakeAByte logo" /></div>
                    <div class="footer-slogan">
                        <p><%= data.slogan %></p>
                        <p>Take A Byte!</p>
                    </div>
                </div>
                <div class="copyright">© TakeAByte 2024 - All Rights Reserved</div>
            </div>
            <div class="footer-links">
                <div class="link-group">
                    <span class="title">Discovery</span>
                    <a href="/offers">Offers</a>
                    <a href="/popular">Popular</a>
                    <a href="/latest">New</a>
                </div>
                <div class="link-group">
                    <span class="title">Info</span>
                    <a href="/contact-us">Contact Us</a>
                    <a href="/privacy-policy">Privacy Policy</a>
                    <a href="/terms-conditions">Terms & Conditions</a>
                </div>
                <div class="link-group">
                    <span class="title">About</span>
                    <a href="/about">About Us</a>
                    <a href="/about-shipping">Shipping</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        <%####################################################################%>
        <%#                     Add/remove favorites                          %>
        <%####################################################################%>
        const favoriteButtons = document.querySelectorAll('.favorite-icon');

        function favoriteClick(e) {
            e.currentTarget.classList.toggle('favorite');
        }

        favoriteButtons.forEach(btn => btn.addEventListener('click', favoriteClick));

        const points = document.querySelectorAll('.favorite-button');
        // Add click event listener to each point
        points.forEach(point => {
            point.addEventListener('click', function() {
                // Retrieve the data-id attribute value
                const productId = this.getAttribute('data-product-id');

                // Prepare data to send in the POST request
                const data = {
                    productId: productId
                    // Add more data properties as needed
                };

                // Send a POST request using axios
                axios.post('/vafAdd', data)
                    .then(response => {
                        // Handle response if needed
                        console.log('Response received:', response.data);
                    })
                    .catch(error => {
                        // Handle errors if any
                        console.error('Error occurred:', error);
                    });
            });
        });
    </script>
</div>
</body>
</html>