<div class="order-left">

    <%######################################################################################%>
    <%#       Order Nav Template                                                            %>
    <%######################################################################################%>
    <%- include('../order-nav', {page: orderPage}); %>


    <form action="/address" class="order-form" method="post">
        <div class="contact">
            <div class="contact-header">
                <span class="title">Contact</span>
                <div class="login"><span class="msg">Do you have an account?</span><a href="/login" class="login-link">Login</a></div>
            </div>
            <input type="email" name="email" placeholder="example@email.com" id="contact-email" />
        </div>
        <div class="address">
            <div class="address-header">
                <span class="title">Shipping Address</span>
            </div>
            <div class="address-name">
                <input type="text" name="name" id="address-name" placeholder="Name" required autofocus <% if (!!data.name) { %><%= `value="${data.name}"` %><% } %> />
                <input type="text" name="lastname" id="address-lastname" placeholder="Last Name" required <% if (!!data.lastName) { %><%= `value="${data.lastName}"` %><% } %> />
            </div>
            <div class="address-street">
                <input type="text" name="street" id="address-street" placeholder="Address" required <% if (!!data.street) { %><%= `value="${data.street}"` %><% } %> />
            </div>
            <div class="address-optional">
                <input type="text" name="optional" id="address-optional" placeholder="Address Complement (optional)" <% if (!!data.complement) { %><%= `value="${data.complement}"` %><% } %> />
            </div>
            <div class="address-city-region">
                <input type="text" name="city" id="address-city" placeholder="City" required <% if (!!data.city) { %><%= `value="${data.city}"` %><% } %> />
                <input type="text" name="zip" id="address-zip" placeholder="ZIP Code" required <% if (!!data.zip) { %><%= `value="${data.zip}"` %><% } %> />
                <input type="text" name="region" id="address-region" placeholder="Province" <% if (!!data.province) { %><%= `value="${data.province}"` %><% } %> />
            </div>
            <div class="address-country">
                <input type="text" name="country" id="address-country" placeholder="Country" required <% if (!!data.country) { %><%= `value="${data.country}"` %><% } %> />
            </div>
        </div>
        <div class="btns">
            <a href="/cart" class="back-link">Back to cart</a>
            <button class="blue" type="submit">Go to shipping</button>
        </div>
    </form>
</div>