<div class="order-left">

    <%######################################################################################%>
    <%#       Order Nav Template                                                            %>
    <%######################################################################################%>
    <%- include('./order-nav', {page: orderPage}); %>

    <form action="/address" class="order-form" method="post">
        <div class="contact">
            <div class="contact-header">
                <span class="title">Contact</span>
                <div class="login"><span class="msg">Do you have an account?</span><a href="/login" class="login-link">Login</a></div>
            </div>
            <label class="abs hidden" for="contact-email"></label>
            <input type="email" name="email" placeholder="example@email.com" id="contact-email" value="<%= (data && data.email) || '' %>" />
        </div>
        <div class="address">
            <div class="address-header">
                <span class="title">Shipping Address</span>
            </div>
            <div class="address-name">
                <label class="abs hidden" for="address-name"></label>
                <input type="text" name="name" id="address-name" placeholder="Name" required autofocus value="<%= (data && data.name) || '' %>" />
                <label class="abs hidden" for="address-lastname"></label>
                <input type="text" name="lastname" id="address-lastname" placeholder="Last Name" required value="<%= (data && data.lastName) || '' %>" />
            </div>
            <div class="address-street">
                <label class="abs hidden" for="address-street"></label>
                <input type="text" name="street" id="address-street" placeholder="Address" required value="<%= (data && data.street) || '' %>" />
                <div id="address-suggestions" class="suggestions"></div>
            </div>
            <div class="address-optional">
                <label class="abs hidden" for="address-optional"></label>
                <input type="text" name="optional" id="address-optional" placeholder="Address Complement (optional)" value="<%= (data && data.complement) || '' %>" />
            </div>
            <div class="address-city-region">
                <label class="abs hidden" for="address-city"></label>
                <input type="text" name="city" id="address-city" placeholder="City" required value="<%= (data && data.city) || '' %>" />
                <label class="abs hidden" for="address-zip"></label>
                <input type="text" name="zip" id="address-zip" placeholder="ZIP Code" required value="<%= (data && data.zip) || '' %>" />
                <label class="abs hidden" for="address-region"></label>
                <input type="text" name="region" id="address-region" placeholder="Province" value="<%= (data && data.province) || '' %>" />
            </div>
            <div class="address-country">
                <label class="abs hidden" for="address-country"></label>
                <input type="text" name="country" id="address-country" placeholder="Country" required value="<%= (data && data.country) || '' %>" />
            </div>
        </div>
        <div class="btns">
            <a href="/cart" class="back-link">Back to cart</a>
            <button class="blue" type="submit">Go to shipping</button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/js/testing.js"></script>