<div class="banner relative">
    <div class="abs full">
        <img src="/static/img/products/<%= banner.img %>"
             onerror="this.onerror=null;this.src='/static/img/banner-not-found.webp'" alt="<%= banner.title %> banner image" />
    </div>
    <div class="banner-ctn">
        <div class="title"><%= banner.title %>></div>
        <div class="text"><%= banner.text %>></div>
        <a href="<%= banner.link %>>" class="button white"><%= banner.btnContent %>></a>
    </div>
</div>