<form class="filters full" action="javascript:void(0);" onsubmit="filterSubmit()">

    <%############################################################%>
    <%#             Check if there are categories sent            %>
    <%############################################################%>
    <% if (!!filters.categories) { %>
        <div class="label">Categories:</div>
        <div class="categories">

            <%#############################################################%>
            <%#                displaying categories filters               %>
            <%#############################################################%>
            <% filters.categories.forEach(category => { %>
                <label for="<%= category.id %>" class="category"><%= category.name %></label>
                <input type="checkbox" name="category" value="<%= category.id %>" id="<%= category.id %>" hidden/>
            <% }); %>
        </div>
    <% } %>

    <div class="label">Price max:</div>
    <div class="prices">

        <%#########################################################%>
        <%#                displaying prices filters               %>
        <%#########################################################%>
        <label for="price-15" class="price">15€</label>
        <input type="radio" name="price" value="15" id="price-15" class="price-filter" hidden/>
        <label for="price-50" class="price">50€</label>
        <input type="radio" name="price" value="50" id="price-50" class="price-filter" hidden/>
        <label for="price-100" class="price">100€</label>
        <input type="radio" name="price" value="100" id="price-100" class="price-filter" hidden/>
        <label for="price-250" class="price">250€</label>
        <input type="radio" name="price" value="250" id="price-250" class="price-filter" hidden/>
        <label for="price-500" class="price">500€</label>
        <input type="radio" name="price" value="500" id="price-500" class="price-filter" hidden/>
        <label for="price-1000" class="price">1000€</label>
        <input type="radio" name="price" value="1000" id="price-1000" class="price-filter" hidden/>
        <label for="price-1000" class="price">1500€</label>
        <input type="radio" name="price" value="1500" id="price-1000" class="price-filter" hidden/>
        <label for="price-1000" class="price">2000€</label>
        <input type="radio" name="price" value="2000" id="price-1000" class="price-filter" hidden/>
        <label for="price-1000" class="price">2500€</label>
        <input type="radio" name="price" value="2500" id="price-1000" class="price-filter" hidden/>
    </div>

    <div class="label">Brands:</div>
    <div class="brands">
        <%#########################################################%>
        <%#                displaying brands filters               %>
        <%#########################################################%>
        <% if (Array.isArray(filters.brands)) { %>
            <% filters.brands.forEach(brand => { %>
                <label for="<%= brand.brand_id %>" class="brand"><%= brand.name %></label>
                <input type="checkbox" name="brand" value="<%= brand.brand_id %>" id="<%= brand.brand_id %>" hidden/>
            <% }); %>
        <% } else if (filters.brands) { %>
            <% const brand = filters.brands; %>
            <label for="<%= brand.brand_id %>" class="brand"><%= brand.name %></label>
            <input type="checkbox" name="brand" value="<%= brand.brand_id %>" id="<%= brand.brand_id %>" hidden/>
        <% } %>
    </div>
    <div class="btn-ctn">
        <button type="submit" class="blue" id="filter-submit">Filter</button>
    </div>
</form>
<script>
    <%###################################################################%>
    <%# select and onClick events for labels which inputs are radio type %>
    <%###################################################################%>
    const labelsRadio = document.querySelectorAll('.prices label');
    labelsRadio.forEach(label => {
        label.addEventListener('click', event => {
            labelsRadio.forEach(label => {
                if (label !== event.target) label.classList.remove('selected');
            });
            event.target.classList.toggle('selected');
        });
    });

    <%######################################################################%>
    <%# select and onClick events for labels which inputs are checkbox type %>
    <%######################################################################%>
    const labelsCheckbox = document.querySelectorAll('.categories label, .brands label');
    labelsCheckbox.forEach(label => {
        label.addEventListener('click', event => {
            event.target.classList.toggle('selected');
        });
    });

    <%######################################################################%>
    <%#  filter request  DO NOT TRESPASS - DEBUG - WORK IN PROGRESS - FIXME %>
    <%######################################################################%>
    const filterSubmit = () => {
        const filterForm = document.querySelector('form.filters');
        const formData = new FormData(filterForm);
        const filters = {};

        // Collect selected categories
        filters.categories = [];
        formData.getAll('category').forEach(value => filters.categories.push(value));

        // Collect selected price
        const price_max = formData.get('price');

        if (price_max) {
            filters.price_max = price_max;
        }

        // Collect selected brands
        filters.brands = [];
        formData.getAll('brand').forEach(value => filters.brands.push(value));

        // Build the query string
        const queryParams = new URLSearchParams();
        if (filters.categories.length > 0) {
            queryParams.append('category', filters.categories.join(','));
        }
        if (filters.price_max) {
            queryParams.append('price_max', filters.price_max);
        }
        if (filters.brands.length > 0) {
            queryParams.append('brand', filters.brands.join(','));
        }

        // Get the current type_id from the URL
        const currentUrl = new URL(window.location.href);
        // Check the path to determine the redirection logic
        if (currentUrl.pathname.startsWith('/category/')) {
            // Get the current type_id from the URL
            const typeId = currentUrl.pathname.split('/').pop();

            // Redirect to the filtered URL
            window.location.href = `/category/${typeId}?${queryParams.toString()}`;
        } else if (currentUrl.pathname.startsWith('/search')) {
            // Extract the search parameter from the URL
            const searchParam = currentUrl.searchParams.get('search');

            // Redirect to the filtered search URL
            window.location.href = `/search?search=${searchParam}&${queryParams.toString()}`;
        }
    };

</script>
