<div class="product">
    <div class="product-img">
        <img src="/static/img/products/<%= product.img %>"
             onerror="this.onerror=null;this.src='/static/img/image-not-found.webp'" alt="<%= product.name %> image" />
        <div class="quantity"><div class="text"><%= product.quantity %></div></div>
    </div>
    <div class="product-info">
        <div class="product-name"><%= product.name %></div>
        <div class="product-price"><%= product.price %></div>
    </div>
</div>