<div class="product">
    <div class="product-img">
        <img src="/static/img/products/<%= product.img %>" alt="<%= product.name %> image" />
        <div class="quantity"><%= product.quantity %></div>
    </div>
    <div class="product-info">
        <div class="product-name"><%= product.name %></div>
        <div class="product-price"><%= product.price %></div>
    </div>
</div>