<a href="<%= product.link %>" class="product-card small-shadow">
    <div class="product-card-img">
        <img src="<%= product.img %>"
             onerror="this.onerror=null;this.src='/static/img/image-not-found.webp'" alt="<%= product.name %> image" />
    </div>
    <div class="product-card-description">
        <div class="title"><%= product.name %></div>
        <div class="price"><%= product.price %></div>
    </div>
</a>