<div class="product-card small-shadow">
    <a href="<%= product.link %>" class="product-card-link"></a>
    <div class="product-card-img">
        <div class="favorite-button">
            <svg class="favorite-icon" width="800px" height="800px" viewBox="0 0 128 128" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g class="st0" id="Layer_1"/><g id="Layer_2">
                    <path class="st2" d="M57.3,32.7c-9.2-9.2-24.1-9.2-33.3,0c-9.2,9.2-9.2,24.1,0,33.3l6.7,6.7L64,106l33.3-33.3L104,66   c9.2-9.2,9.2-24.1,0-33.3s-24.1-9.2-33.3,0L64,39.4"/>
                    <path class="st2" d="M29.1,49.1c0-6.9,5.6-12.4,12.4-12.4"/></g>
            </svg>
        </div>
        <img src="<%= product.img %>"
             onerror="this.onerror=null;this.src='/static/img/image-not-found.webp'" alt="<%= product.name %> image" />
    </div>
    <div class="product-card-description">
        <div class="title"><%= product.name %></div>
        <div class="price"><%= product.price %></div>
    </div>
</div>