    <div class="products-carousel swiper" id="<%= data.class %>" data-class="<%=data.class%>">
        <div class="carousel-title"><%= data.title %></div>
        <div class="products-list swiper-wrapper">
            <%################################################################################%>
            <%#     product-card template                                                     %>
            <%################################################################################%>
            <% data.products.forEach(function (product) { %>
                <%- include('./product-card', {product: product}); %>
            <% }); %>
        </div>
        <div class="carousel-nav-<%=data.class%>"></div>
    </div>
