<div class="purchase-product">
    <div class="product-img-info">
        <div class="product-img">
            <img src="<%= product[0].image %>"
                 onerror="this.onerror=null;this.src='/static/img/image-not-found.webp'" alt="<%= product[0].name %> image" />
        </div>
        <div class="product-info">
            <div class="product-name"><%= product[0].name %></div>
        </div>
    </div>
    <div class="product-price"><%= product.price_when_bought %> €</div>
    <div class="purchase-quantity"><%= product.quantity_brought %></div>
    <div class="product-total"><%= product.price_when_bought * product.quantity_brought %> €</div>
</div>
