<div class="main-column gap5 padding-top3">

    <%######################################################################################%>
    <%#       Title Nav Template                                                            %>
    <%######################################################################################%>
    <%- include('../partials/stroll-nav', {data: data.navData}); %>

    <div class="product-ctn">
        <div class="product">
            <div class="product-carousel">
                <div class="product-img">
                    <img src="<%= data.product.images[0] %>"
                         onerror="this.onerror=null;this.src='/static/img/image-not-found.webp'" alt="<%= data.product.name %> image" />
                </div>
                <div class="previews">
                    <% data.product.images.forEach(function (img) { %>
                        <img src="<%= img %>"
                             onerror="this.onerror=null;this.src='/static/img/image-not-found.webp'" alt="<%= data.product.name %> image" />
                    <% }); %>
                </div>
            </div>
            <div class="product-info">
                <div class="generic">
                    <div class="name"><%= data.product.name %></div>
                    <div class="description"><%= data.product.description %></div>
                </div>
                <div class="quantity-price">
                    <div class="title">Quantity</div>
                    <div class="quantity">
                        <div class="minus"><div class="text">-</div></div>
                        <div class="product-quantity"><div class="text">1</div></div>
                        <div class="plus"><div class="text">+</div></div>
                    </div>
                    <div class="price"><%= data.product.price %></div>
                </div>
                <div class="colors">
                    <div class="title">Color</div>
                    <div class="color-list">
                        <% data.product.colors.forEach(function (color) { %>
                            <div class="color" style="background-color: <%= color %>>"></div>
                        <% }); %>
                    </div>
                </div>
                <div class="miscellaneous">
                    <div class="specification">
                        <div class="title">Brand</div>
                        <div class="content"><%= data.product.brand %></div>
                    </div>
                    <% data.product.miscellaneous.forEach(function (spec) { %>
                        <div class="specification">
                            <div class="title"><%= spec.name %></div>
                            <div class="content"><%= spec.content %></div>
                        </div>
                    <% }); %>
                </div>
                <div class="button white"><img src="/static/img/icon/cart.png" alt="cart icon" /> + Add to cart</div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get elements
        const quantityContainer = document.querySelector('.quantity');
        const quantityDisplay = document.querySelector('.product-quantity .text');
        const minusButton = document.querySelector('.minus');
        const plusButton = document.querySelector('.plus');
        const price = document.querySelector('.price')
        const addToCartButton = document.querySelector('.button.white');
        // Initial quantity
        let quantity = 1;
        updateQuantityDisplay();

        // Event listeners for plus and minus buttons
        minusButton.addEventListener('click', decreaseQuantity);
        plusButton.addEventListener('click', increaseQuantity);

        function decreaseQuantity() {
            if (quantity > 1) {
                quantity--;
                updateQuantityDisplay();
            }
        }

        function increaseQuantity() {
            if (quantity < <%= data.quantityStock %>) {
                quantity++;
                updateQuantityDisplay();
            }
        }

        function updateQuantityDisplay() {
            quantityDisplay.textContent = quantity;
            // Extracting numerical value from data.product.price
            if (quantity !== 0){
                const priceValue = parseFloat('<%= data.product.price.replace(/[^\d.-]/g, "") %>');
                price.textContent = `${quantity * priceValue} €`;
            }

            if (<%= data.quantityStock %> === 0) {
                addToCartButton.disabled = true;
            } else {
                addToCartButton.disabled = false;
            }
        }
    });
</script>

